@charset "utf-8";

$turk: #00d1b2;
$off-white: #fafafa;

// navbar properties
$navbar-background-color: $turk;
$navbar-item-color: $off-white;

$body-line-height: 1.7;

.maincontent {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

@import "../../node_modules/bulma/bulma.sass";
